body {
    background-color: #3eaf4f;
    animation: bg-color 200s infinite;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.home-window {
    text-align: center;
    background-color: #3eaf4f;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.home-window h1 {
    margin-bottom: 20px;
    font-size: 2em;
}

.home-window p {
    margin-bottom: 30px;
    font-size: 1.2em;
    color: #555;
}

.home-window button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: #ffffff;
    transition: background-color 0.3s;
}

.home-window button:hover {
    background-color: #0056b3;
}
a {
    color: #ffffff;
    text-decoration: none;
}

@keyframes bg-color {
    from {
      background-color: #3eaf4f;
    }
    10% {
      background-color: #16cd78;
    }
    20% {
      background-color: #1abc9c;
    }
    30% {
      background-color: #16cd78;
    }
    40% {
      background-color: #00ff00;
    }
    50% {
      background-color: #16cd78;
    }
    60% {
      background-color: #1abc9c;
    }
    70% {
      background-color: #16cd78;
    }
    80% {
      background-color: #ff0000;
    }
    90% {
      background-color: #0000ff;
    }
    to {
      background-color: #3eaf4f;
    }
}

.loading {
    /*ローディング画面の縦横幅を画面いっぱいになるように指定*/
    width: 100vw;
    height: 100vh;
    /*ローディング画面の表示位置を固定*/
    position: fixed;
    top: 0;
    left: 0;
    background: #1082ce;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /*ローディング画面を0.5秒かけて非表示にする*/
    transition: all 0.5s linear;
}

/*ローディング画面を非表示にする*/
.loading.loaded {
    /*0.5秒かけてopacityを0にする*/
    opacity: 0;
    visibility: hidden;
}

.loading-text {
    color: #FFF;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 30px;
    text-align: center;
}

.spinner {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 3px solid #FFF;
    border-left-color: #1082ce; 
    /* アニメーションを1秒かけて実行 */
    animation: spinner-rotation 1s linear infinite;
}

  /* アニメーションの設定 */
@keyframes spinner-rotation {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}
