.body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #3eaf4f;
}

.home-window {
    text-align: center;
    background-color: #3eaf4f;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.home-window h1 {
    margin-bottom: 20px;
    font-size: 2em;
}

.home-window p {
    margin-bottom: 30px;
    font-size: 1.2em;
    color: #555;
}

.home-window button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: #ffffff;
    transition: background-color 0.3s;
}

.home-window button:hover {
    background-color: #0056b3;
}
a {
    color: #ffffff;
    text-decoration: none;
}
