footer{
    text-align: center;
}

a{
    text-decoration: none;
}
body{
    background-color: #3eaf4f;
    animation: bg-color 200s infinite;
}
@keyframes bg-color {
    from {
    background-color: #3eaf4f;
    }
    10% {
    background-color: #16cd78;
    }
    20% {
    background-color: #1abc9c;
    }
    30% {
    background-color: #16cd78;
    }
    40% {
    background-color: #00ff00;
    }
    50% {
    background-color: #16cd78;
    }
    60% {
    background-color: #1abc9c;
    }
    70% {
    background-color: #16cd78;
    }
    80% {
    background-color: #ff0000;
    }
    90% {
    background-color: #0000ff;
    }
    to {
    background-color: #3eaf4f;
    }
}
button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: #ffffff;
    transition: background-color 0.3s;
}
button:hover {
    background-color: #0056b3;
}